table, th, td {
    border: 1px solid black; border-collapse: collapse;
}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.buttonCustom{
    background-color: #e7e7e7; 
    color: black;
}